# Configurações do Banco de Dados PostgreSQL
DB_USER=seu_usuario
DB_HOST=localhost
DB_NAME=seu_banco
DB_PASSWORD=sua_senha
DB_PORT=5432

# Segredo para gerar o token JWT (pode ser qualquer frase ou código aleatório longo)
JWT_SECRET=coloque_uma_frase_muito_segura_aqui

# Porta que o servidor vai rodar
PORT=3000
